.minutesAwayP {
  height: 40px;
  font-size: 0.94rem;
  font-family: "Roboto";
  margin: 35px 0px 15px 0px;
}

.minutesAwayB {
  color: #fec007;
}

/* Tablet View - medium */
@media only screen and (min-width: 720px) {
}

/* Desktop View - large */
@media only screen and (min-width: 900px) {
  .navBarInfoBox {
    width: 100%;
    max-width: 1010px;
  }
}

/* Bigger View - extralarge */
@media only screen and (min-width: 1200px) {
}
