.countContainer {
  display: grid;
  justify-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.countContainer img {
  margin-top: 20px;
}

.countContainer p {
  margin-top: 30px;
}

.countContainer > div {
  margin-top: 20px;
  width: 100%;
  height: 8px;
  background-color: #fec007;
}
