.contentSpace {
  height: 80px;
}

.contentMap {
  width: 100%;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: 'Roboto';
  font-size: 1.8rem;
  font-weight: 500;
  height: 60px;
  padding: 0 24px;
  margin-bottom: 30px;
}
.titleContainer img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* Tablet View - medium */
@media only screen and (min-width: 720px) {
  .titleContainer {
    padding-left: 30px;
    justify-content: unset;
  }
}

/* Desktop View - large */
@media only screen and (min-width: 900px) {
  .contentPageWrapper {
    max-width: 1010px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .NavBarPageWraperFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .titleContainer {
    justify-content: center;
  }
}

/* Bigger View - extralarge */
@media only screen and (min-width: 1200px) {
}
