.skeletonContainer {
  padding: 30px 24px;
}

.avatarContainer {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 30px;
  margin-top: 60px;
  align-items: center;
}

/* Desktop View - large */
@media only screen and (min-width: 750px) {
  .skeletonContainer {
    padding: 30px;
  }
}
