.footerContainer {
  background: #23242b;
  color: #fff;
  font-family: "Roboto";
  padding: 28px 24px 40px 24px;
}

.footerContainerTitle {
  font-weight: bold;
  font-size: 0.95rem;
  padding: 5px 0px 20px 0px;
}

.footerInfoBoxSingleTitle {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 5px 0px;
}

.footerInfoBoxSingleParagraphs p {
  font-size: 0.8rem;
}

.footerInfoBoxSingleLinks {
  display: flex;
  flex-direction: column;
}

.footerInfoBoxSingleLink {
  font-size: 0.65rem;
  padding: 5px 0px;
  font-weight: lighter;
  text-decoration: none;
  color: #ffffff;
}

.footerInfoBoxSingleLink:hover {
  color: #fec007;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.footerInfoBox {
  display: flex;
  flex-direction: column;
}

.footerInfoBox:nth-child(3) {
  display: flex;
  flex-direction: column;
  border-top: 1.5px solid white;
  align-items: center;
  opacity: 75%;
}

.footerInfoBoxSingle {
  max-width: 264px;
  width: 100%;
  padding: 5px 0px 10px 0px;
  font-size: 0.65rem;
  font-weight: lighter;
}

.footerInfoBoxSingle:nth-child(1) {
  order: 2;
}

.footerInfoBoxSingle:nth-child(2) {
  order: 3;
  padding-bottom: 25px;
}

.footerInfoBoxSingle:nth-child(3) {
  order: 1;
}

.footerRights {
  font-size: 0.7rem;
  padding: 40px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

/* Tablet View - medium */
@media only screen and (min-width: 720px) {
  .footerInfoBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  .footerInfoBoxSingle:nth-child(1) {
    order: unset;
  }

  .footerInfoBoxSingle:nth-child(2) {
    order: unset;
    padding-bottom: 25px;
  }

  .footerInfoBoxSingle:nth-child(3) {
    order: unset;
  }

  .footerContainer {
    padding: 30px 30px 40px 30px;
  }

  .footerContainerTitle {
    height: 80px;
    display: flex;
    align-items: center;
  }
}

/* Desktop View - large */
@media only screen and (min-width: 900px) {
  .footerInfoBox {
    width: 100%;
    max-width: 1010px;
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footerInfoBoxSingle {
    text-align: left;
  }
}

/* Bigger View - extralarge */
@media only screen and (min-width: 1200px) {
}
