.navbar {
  background-color: #23242b;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar div {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  gap: 8px;
  cursor: pointer;
}

.navbar p {
  color: white;
}

.navbar svg {
  cursor: pointer;
  color: white;
  width: 30px;
  height: 30px;
}
